body {
  background-color: #fafafa;
}

.header-wrap {
  width: 100%;
  height: 77px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 1;
  transition: all 0.5s;
}

.header {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.short-header-wrap {
  height: 52px;
}

.short-header {
  padding: 13px 20px;
}

.hide-second-logo {
  visibility: hidden;
}

.search-box {
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  max-width: 215px;
  width: 100%;
  height: 28px;
}

.search-box input {
  color: #999;
  background-color: #fafafa;
  border: none;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.icons {
  max-width: 156px;
  width: 100%;
  height: 28px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
}

.icons svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

.logo-img {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

.logo-text {
  max-width: 103px;
  width: 100%;
  height: 29px;
}

.container {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  max-width: 935px;
  margin: 0 auto;
}

.main-content {
  max-width: 614px;
  float: left;
  width: 100%;
}

.side-content {
  max-width: 293px;
  float: right;
  width: 100%;
  /* position: sticky; */
}

.card {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.card-header {
  height: 60px;
  background-color: white;
}

.writter-info .image-wrap,
.row-story .image-wrap {
  width: 42px;
  height: 42px;
  position: relative;
  float: left;
  top: 5px;
  left: 5px;
  padding: 0;
}

.writter-info .writter-picture,
.row-story .writter-picture {
  width: 28px;
  height: 28px;
  border-radius: 150px;
  position: relative;
  float: left;
  top: 13px;
  left: -30px;
}

.writter-info p,
.row-story p {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  float: left;
  top: 20px;
  left: -12px;
}

.view-more {
  height: 18px;
  position: relative;
  float: right;
  top: 20px;
  left: -10px;
}

.view-more img {
  width: 24px;
  height: 20px;
  float: right;
}

.card-header .view-more {
  float: right;
}

.upload-img img {
  height: 614px;
  width: 614px;
}

.logo-actions {
  width: 100%;
  height: 40px;
  background-color: white;
  margin: 0;
}

.logo-actions svg {
  width: 24px;
  height: 24px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 336px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  padding: 0;
  margin: 0;
}
.modal-content-li {
  width: 100%;
  height: 48px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  border-bottom: 0.5px solid #e6e6e6;
}

.modal-content-li:nth-last-child(1) {
  border-bottom: 0;
}

.emphasize {
  font-weight: bold;
  color: #ec4956;
}

.user-profile {
  height: 60px;
  padding-bottom: 10px;
  background-color: #fafafa;
}

.user-profile .user-img {
  width: 50px;
  height: 50px;
  border-radius: 150px;
  float: left;
}

.user-name {
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 17px;
}

.story {
  height: 223px;
  margin-top: 4px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.story-header {
  height: 19px;
  margin-top: 12px;
  padding: 4px 16px;
}

.story-header p {
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}

.story-header button {
  float: right;
  border: none;
  font-weight: 700;
}

.story-content {
  overflow: scroll;
}

.row-story {
  height: 44px;
  width: 100%;
}

.carousel-wrap {
  position: relative;
  overflow: hidden;
  /* 여기서 relative는.. btn-move를 위한 것 */
}

.carousel {
  display: flex;
  position: relative;
  left: 0;
  /* 여기서 relative는 left 이동시키기 위해 */
}

.btn-move {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
